@import './mq';
@import './prefixes';

@mixin line-clamp($clampAmount, $line-height: 1.58, $tablet: false) {
  $heightMultiplier: 19 * $line-height;

  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: #{$heightMultiplier * $clampAmount}px;

  @include prefix(
    (
      line-clamp: $clampAmount,
      box-orient: vertical
    ),
    webkit moz ms o
  );

  @if $tablet {
    @include mq($from: tablet) {
      max-height: #{$heightMultiplier * ($clampAmount + 1)}px;

      @include prefix(
        (
          line-clamp: $clampAmount + 1
        ),
        webkit moz ms o
      );
    }
  }
}
